<div *ngIf="product" class="flex-container">
  <h2>{{product.name | uppercase}} Details</h2>
  <!-- <div><span>ID: </span>{{product.id}}</div> -->

  <div>
    <!-- <label>ID:<br>
      <input [(ngModel)]="product.id" placeholder="id"/><br>
    </label>
    <label>Name:<br>
      <input [(ngModel)]="product.name" placeholder="name"/><br>
    </label>
    <label>Description:<br>
      <input [(ngModel)]="product.description" placeholder="description"/><br>
    </label>
    <label>Price:<br>
      <input [(ngModel)]="product.price" placeholder="price"/><br>
    </label>
    <label>Weight:<br>
      <input [(ngModel)]="product.weight" placeholder="weight"/><br>
    </label>
    <label>Category:<br>
      <input [(ngModel)]="product.productCategoryId" placeholder="productCategoryId"/><br>
    </label>
    <label>Supplier:<br>
      <input [(ngModel)]="product.supplierId" placeholder="supplierId"/><br>
    </label><br>   -->
    <label for="id">ID: </label>
    <input [value]="this.id" (input)="id = $event.target.value" type="text" id="id">
    <label for="name">Name: </label>
    <input [value]="this.name" (input)="name = $event.target.value" type="text" id="name">
    <label for="description">Description: </label>
    <input [value]="description" (input)="description = $event.target.value" type="text" id="description">
    <label for="price">Price: </label>
    <input [value]="price" (input)="price = $event.target.value" type="text" id="price">
    <label for="weight">Weight: </label>
    <input [value]="weight" (input)="weight = $event.target.value" type="text" id="weight">
    <label for="productCategoryId">Categoty ID: </label>
    <!-- <input [value]="productCategoryId" (input)="productCategoryId = $event.target.value" type="text" id="productCategoryId"> -->

    <select>
      <option [value]="category" *ngFor="let category of categories" [class.selected]="category === selectedCategory">
        {{category.name}}</option>
    </select>
    <label for="supplierId">Supplier ID: </label>
    <!-- <input [value]="supplierId" (input)="supplierId = $event.target.value" type="text" id="supplierId"> -->
    <select>
      <option [value]="supplier" *ngFor="let supplier of suppliers" [class.selected]="supplier === selectedSupplier">
        {{supplier.name}}</option>
    </select>
  </div>

  <br>
  <br>

  <button (click)="goBack()">go back</button>
  <button type="button" (click)="addProduct()" id="addButton">Adauga</button>
  <button type="button" (click)="removeProduct()" id="deleteButton">Stergere</button>
  <button type="button" (click)="updateProduct()" id="updateButton">Update</button>
</div>
<!-- 
<h2>My categories</h2>
<ul class="category">
  <li *ngFor="let category of categories" [class.selected]="category === selectedCategory">
    <span class="badge">{{category.id}}</span> {{category.name}}
  </li>
</ul> -->