<div *ngIf="product" class="flex-container">
  <h2>{{product.name | uppercase}} Details</h2>
  <!-- <div><span>ID: </span>{{product.id}}</div> -->

  <div>
    <form (ngSubmit)="onSubmit()" #productForm="ngForm">
      <label for="id">ID: </label>
      <input [value]="this.id" (input)="id = $event.target.value" type="text" id="id">

      <div class="form-group">
        <label for="name">Name: </label>
        <input type="text" class="form-control" id="name" required [(ngModel)]="product.name" name="name"
          [value]="this.name" (input)="name = $event.target.value">
        <!-- <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Name is required
        </div> -->
      </div>

      <div class="form-group">
        <label for="description">Description: </label>
        <input type="text" class="form-control" id="description" required [(ngModel)]="product.description"
          name="description" [value]="this.description" (input)="description = $event.target.value">
      </div>

      <div class="form-group">
        <label for="price">Price: </label>
        <input type="text" class="form-control" id="price" required [(ngModel)]="product.price" name="price"
          [value]="this.price" (input)="price = $event.target.value">
      </div>

      <div class="form-group">
        <label for="weight">Weight: </label>
        <input type="text" class="form-control" id="weight" required [(ngModel)]="product.weight" name="weight"
          [value]="this.weight" (input)="weight = $event.target.value">
      </div>

      <div class="form-group">
        <label for="productCategoryId">Categoty ID: </label>
        <select [(ngModel)]="product.productCategoryId" (change)="getCategoryById($event.target.value)" id="category"
          name="category">
          <option *ngFor="let category of categories" value="{{category.id}}"
            [class.selected]="category === selectedCategory">
            {{category.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="supplierId">Supplier ID: </label>
        <select [(ngModel)]="product.supplierId" (change)="getSupplierById($event.target.value)" id="supplier"
          name="supplier">
          <option *ngFor="let supplier of suppliers" value="{{supplier.id}}"
            [class.selected]="supplier === selectedSupplier">
            {{supplier.name}}</option>
        </select>
      </div>
    </form>
  </div>

  <br>
  <br>

  <button (click)="goBack()">go back</button>
  <button type="submit"
    (click)="addProduct(product.name, product.description, product.price, product.weight, product.productCategoryId, product.supplierId)"
    id="addButton">Adauga</button>
  <button type="submit" (click)="removeProduct()" id="deleteButton">Stergere</button>
  <button type="submit"
    (click)="updateProduct(product.name, product.description, product.price, product.weight, product.productCategoryId, product.supplierId)"
    id="updateButton">Update</button>
</div>